html,body{
	background-color:#F8F8F8!important;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

#link-wrapper{
	text-align: center;
}

#demo{
	text-align: right;
	font-size: 12px;
}


tbody{
	width: 100%;
	height: 530px;	
  	overflow-y: scroll;
  	
}
table{
	width: 100%;

}

thead,tbody{
	display: block;
	width: 100%;
}
th{
	white-space: nowrap;
}

tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

tbody tr.hidden-to-set-col-widths,
tbody tr.hidden-to-set-col-widths td {
  visibility: hidden;
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
col:nth-child(1) {
column-width: 40%;
}

.header{
	top: 0;
  	width: 100%;
  	height: 300px; 
  	background-image: 
  		linear-gradient(
  			rgba(0, 0, 0, 0.2), 
  			rgba(0, 0, 0, 0.2)), 
  		url('https://i.ibb.co/vvcpY2Y/Screen-Shot-2021-08-04-at-5-02-33-pm.png');
  	background-size: cover;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	position: relative;
  	display:  block;
  }

.header-overlay{
	position:  absolute;
	top: 0;
	left: 0;
	width:  100%;
	height:  100%;
	background-color: : rgba(0,0,0,0.3);
}

.header-text{
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: lightgrey;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 }


 .description{
 	background-color: #eaeaea;
 	color: #004b6b;
 	font-weight:  700;
 	background-size: cover;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	position: relative
  	display:  block;
  	top: 0;
  	width: 100%;
  	height: 320px; 
  	
  overflow: hidden;
  text-overflow: ellipsis;
  
 }

.description-overlay{
	position:  relative;
	top: 0;
	left: 0;
	width:  100%;
	height:  100%;
	background-color: : rgba(0,0,0,0.3);
}

.wrapper{
	display:  grid;
	grid-template-columns:  5fr 1fr;
	grid-template-rows: 30em;
	grid-template-areas: 
	"left-column right-column";
	gap: 40px;
	}

.left-column{
	justify-content: start;
	grid-area:  left-column;
	text-align: auto;
}

.right-column{
	justify-content: end;
	grid-area: right-column;
	text-align: center;

	
}

 .card{
 	background-color: #f8f9fa;
 	color: : #004b6b;;
 }

#piechart{
	width: 100%; 
	height:  500px;
	
 }

 #contact{
 	font-weight: 700;
	font-family: 'Lato', sans-serif;
	
  	background-color: #eaeaea;
 	color: #004b6b;
 	border-color: none;
 	
 }

 

#localChartWrapper{
	height:  500px;
	overflow-y: auto;
}

.localchartContainer{
	position: absolute;	
}

#myLocalChart{
	
	color: #004b6b;
	font-weight:  700;
	font-size: 18px;
	width:100% !important; 	
	height: 1400px !important; 
	display: block; 

}

#chart{
	color: #004b6b;
	font-weight:  700;
	font-size: 18px;
	height:100; 
	width:100%;
}

#prediction {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height:  200px;
  
}

#prediction td, #prediction th {
  border: no;
  padding: 8px;
}

#prediction tr:nth-child(even){background-color: #f2f2f2;}

#prediction tr:hover {background-color: #ddd;}

#prediction th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #004b6b;
  color: white;
}
